body {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}

@media (max-width: 600px) {

 /*  Main container for all views */
 .car_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../assets/card.png') center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 /* styles for index */

 .container_input_msg {
  width: 60%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .container_code_input {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 

 .container_input {
  width: 80%;
  border-right: solid 3px oldlace;
 }

 .input_code {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(#B38D5D, #FDC891);
  outline: none;
  border: 0;
  border-radius: 5px 0px 0px 5px;
  padding: 5px 5px 5px 90px;
 }

 .btn_send {
  width: 20%;
  height: 40px;
  background-image: linear-gradient(#B38D5D, #FDC891);
  border-radius: 0px 5px 5px 0px;
 }

 .send_link > img {
  width: 25px;
 }

 .send_link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 /* style for second_card */
 .second_card_content {
  width: 80%;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .text_msg_container {
  width: 70%;
  text-align: start;
  margin-top: 20px;
  margin-left: 20px;
 }

 .video_container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
 }

 .video_back {
  width: 90%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFF;
  border-radius: 7px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);

 }

 .go_to_invitation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
 }

 .text_icon_container {
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin-right: 15px;
 }

 .text_icon_container > img {
  width: 35px;
 }

}